body{
    text-align: center;
    background-color: #DAF5FF;
    margin: 0;
    
}
div{
    padding:50px;
}
.text{
    padding-top: 60px;
  
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
    color: grey;
}
h1{
    padding-top: 50px;
    margin: 0;
    font-family: 'Sacramento', cursive;
}
h2{
    font-family: 'Merriweather', serif;
}
h3{
    font-family: 'Merriweather', serif;
}
p{
    font-family: 'Merriweather', serif;
}
#c1{
    position: absolute;
    right: 25%;
}
#c2{
   position: absolute;
   left: 25%;
}
.round{
border-radius: 100%;
margin: 0 auto;
height:200px;
width:200px;
}